#jumbotron {
    margin: 1.5rem
}

/* #test{
    display: flex;
    justify-content: space-evenly;
} */

.splitscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem 1rem 1.5rem;
    width: 35%;
}

.split h5 {
    text-align: center;
}

.header {
    text-align: center;
    margin: 1rem
}

.textblock {
    margin-top: 1.5rem
}

.verticalline {
    border-left: 3px solid limegreen;
    height: 20rem;
    border-radius: 1.5px;
    opacity: .5;
}